.examples {
    max-width: 700px;
    background-color: #fff;
    margin: 0 auto 75px;
    padding: 30px 50px;
    color: #4c4e56;
    margin-top: 206px;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.examples table {
    margin: 5px 0 0 0;
    font-size: 14px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

